In [28]:
import pandas as pd
import numpy as np

In [19]:
impeached_df = pd.read_csv('impeach.csv')
impeached_df.index = impeached_df['Senator']

**1)** What state did Daniel Patrick Moynihan represent?**

In [27]:
print(impeached_df.loc['moynihan']['State'])

NY

Senator Moynihan represented New York.

**2)** What was the standard deviation of the conservatism score for senators in 1998? **(Hint: use the "std" command to get the standard deviation.)**

In [30]:
print(np.std(impeached_df['Conservatism']))

37.29013140228926

Standard deviation of conservatism was 37.29.

**3)** Which of Tennessee's two senators was ranked as more conservative in 1998: Thompson or Graham?

In [56]:
tn = impeached_df.loc[impeached_df['State'] == 'TN']
tn.loc[tn['Conservatism'] == tn['Conservatism'].max()].iloc[0]['Senator']

'thompson'

Thompson was the more conservative of the two.

**4)** What percentage of the vote did Bill Clinton receive in New York in the 1996 election?

In [64]:
impeached_df.loc[impeached_df['State'] == 'NY'].iloc[0]['Clinton']

59

Clinton recieved 59% of the vote.

**5) Bonus:** Senator Kay Bailey Hutchison is not coded as "hutchison". Using any method, find the row that corresponds to Kay Bailey Hutchinson. Describe the method you used.

In [68]:
impeached_df.loc[impeached_df['Senator'].str.contains('hut')]

,Senator,State,Article1,Article2,Guilt,Party,Conservatism,Clinton,Reelection,FirstTerm
Senator,,,,,,,,,,
timhutch,timhutch,AR,1,1,2,1,100,54,2002,1
kaybhut,kaybhut,TX,1,1,2,1,92,44,2000,1